/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
  display: grid;
	width:100%;
	height:100%;
  z-index: -1;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}
/*Кнопка*/
.button {
  /*background-image: url("../github2.png");*/
  margin: auto;
  border: 2px;
  border-radius: 1px;
  padding: 20px 40px;
  background-color: #b00000;
  z-index: 0;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  /*
    background-color: #4CAF50;
    border: none;
    
    padding: 15px 32px;
    
    text-decoration: none;
    display: inline-block;
    
    margin: 4px 2px;
    cursor: pointer;
    */

}

/*Текст по центру*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container p {
    width: 450px;
    padding: 50px;
    background-color: #b00000;
    opacity: 1.0;
}
/* ---- stats.js ---- */

.section a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.title-text {
  text-align: center;
}



/* ---- particles.js container ---- */

#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

